
ul .check_edit {
  display: flex;
  list-style-type: disc;
  margin:1em;
  padding-inline-start: 20px;
  cursor: pointer;
  text-align: left;
}

ul {
  display: flex;
  list-style-type: disc;
  margin: 0.15em;
  padding-inline-start: 0em;
  cursor: pointer;
  text-align: left;
}

label .edit_label{
  margin: 0;
}

label .boxes {
  margin: 0em;
}

.form-control-edit {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* fieldset {
    max-width: 40em;
    padding: 4px;
    margin: 2em auto;
    border: 0 none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: aliceblue;
  } */
  
  fieldset .new {
    
    max-width: 100%;
    padding: 7px;
    margin: 1em auto;
    /* border: 0 none; */
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    margin: 1em auto;
    border: 0 none;
    background: #fff9ea;
  }


  fieldset .edit {
    
    max-width: 100%;
    padding: 1.75rem;
    margin: 1em auto;
    /* border: 0 none; */
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    margin: 1em auto;
    border: 0 none;
    background: #fff9ea;
    /* margin: 2em auto; */
    /* border: 0 none; */
    /* background: aliceblue;
    /* max-width: 74em;
    padding: 7px;
    margin: 1em auto; */
    /* border: 0 none; */
    /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    margin: 1em auto;
    border: 0 none;
    background: #fff9ea; */
    /* background: aliceblue;
    /* max-width: 29em;
    padding: 10px; */
    /* margin: 2em auto; */
    /* border: 0 none; */
    /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 5px; */
    /* background: aliceblue; */
  } 


  fieldset {
    max-width: 100%;
    padding: 2em;
    margin: 1em auto;
    /* border: 0 none; */
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    margin: 1em auto;
    border: 0 none;
    background: #78a13e73;
  }


  fieldset input,
  fieldset button,
  fieldset select {
    box-sizing: border-box;
    padding: 0.2em 0.4em;
    margin: 0.2em 0;
    outline: none;
    box-shadow: none;
  }
  
  fieldset button {
    /* max-width: 9em;
    padding: 0.5em;
    margin: 0.3em auto;
    background-color: cornflowerblue;
    border: none;
    color: #1b284c;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 2px;
    width: 100%; */
    cursor: pointer;
  }
  
  fieldset label {
    display: flex;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    text-align: left;
    font-size: 1.25rem;
    margin-right: 1.25em;
  }
  fieldset input:focus + label {
    color: #933;
  }
  
  fieldset .formgrid {
    display: grid;
    grid-template-columns: 1fr 1em 2fr;
    grid-gap: 0.3em 0.6em;
    grid-auto-flow: dense;
    align-items: center;
  }
  
  fieldset input,
  fieldset button,
  fieldset select {
    grid-column: 2 /4;
    width: auto;
    margin: 0;
  }
  
  fieldset .alignRight {
    text-align: right;
  }
  
  .container-cards-edit {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }

  .container-cards-name {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }

  .extraform-edit{
    /* display: flex; */
    max-width: 100%;
    padding: 30px;
    margin: 0em auto;
    border: 0 none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    background: #ffe7bb;
    /* flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: flex-start; */
    /* display: flex;
    max-width: 33em;
    padding: 10px;
    margin: 0em auto;
    border: 0 none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    background: #ffe7bb;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
  }
  /* .extraform-edit{
    display: flex;
    max-width: 100em;
    padding: 10px;
    margin: 0em auto;
    border: 0 none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    background: #ffe7bb;
  } */