
.builttacos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.builttaco {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
}


.container-cards {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}


.card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  background: #f8e7bd;
  margin-bottom: 2em;
  flex: 0 1 24%;
  border-radius: 0.25em;
}

.card-content {
  padding: 0.5em;
  background-color: #f8e7bd;
  width: 275px;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-weight: bold;
  color: rgb(200 60 69);
}

.card-content p {
  color: #7c1c45;
  line-height: .35em;
}

.content-builttaconame {
  color: darkslategrey;
}
/* .collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .collection {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid rgb(159, 220, 255);
    -webkit-box-shadow: 2px 8px 6px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 2px 8px 6px 0px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
  }
  
  img {
    width: 150px;
  }
  
  img.card-close {
    width: 10%;
  }

  

  
  .card-close {
    color: #fff;
    background-color: #999;
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 15px;
    border-radius: 50%;
    border: 2px solid #333;
  } */