@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Roboto:wght@300;400&display=swap');

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: #ffe7bb;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    height: 100px;
    line-height: 100px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px;
    font-family: "Roboto";
}

.navbar__image{
  background-position-x: left;
  background-image: url(http://localhost:3000/images/Taco2Go_logo.svg);
  z-index: 1;
  min-height: 5rem;
  min-width: 10rem;
  background-repeat: no-repeat;
  list-style-type: none;
  margin-right: 12rem;
  vertical-align: middle;
  margin-top: 15px;
}
